.dest{
    background-color: chocolate;
    border-color: brown;
}

.deste{
    align-items: center;
    visibility:hidden;
}
.deste:hover{
    align-items: center;
    visibility:visible;
}

.in{
    display: inline;
}